.wrapper {
  margin: 0 auto;
  width: 90%;
}
.wrapper h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.flex li {
  flex: 1 1 200px;
  margin: 10px;
}
.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards li {
  //border: 2px solid #411564;
  border-radius: 5px;
  //background-color: #00995D;
  color: #fff;
  flex: 1 1 200px;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.cards h2 {
  //background-color: #411564;
  margin: 0;
  padding: 10px;
  border-radius: 7px;
  max-width: 95%;
}
.cards h4 {
  margin: 0;
  padding: 3px;
  max-width: 90%;
  border-radius: 4px 4px 0 0;
}
.cards p {
  text-align: center;
  padding-bottom: 20px;
  max-width: 92%;
  color: #0C111D;
}
.cards p b {
  font-size: 60px;
}
